*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --color1: #D93D59;
  --color2: #400124;
  --color3: #94A66D;
  --color4: #F2CDAC;
  --color5: #F27A5E;
  /* https://color.adobe.com/pt/trends/Game-design?page=2KC */
}

html{
  font-family: 'Press Start 2P', sans-serif;
  font-size: 62.5%;
}

body{
  background-color: var(--color3);
  color: var(--color2);
  height: 100vh;
  overflow: hidden;
  text-align: center;
}

a {
  color: white;
}

.screen {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100vw;
  transition: margin 0.5s ease-out;
}

h1 {
  margin-bottom: 4rem;
  font-size: 3rem;
}

.btn {
  border: 0;
  background-color: var(--color4);
  color: var(--color3);
  font-family: inherit;
  padding: 1rem 2rem;
  cursor: pointer;
  font-size: 2rem;
  border-radius: 1rem;
}

.btn:active {
  transform: scale(0.98);
}

.btn:hover {
  color: var(--color2);
}

.btn:focus {
  outline: 0;
}

.screen.up {
  margin-top: -100vh;
}

.enemy-list {
  display: flex;  
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.enemy-list li {
  list-style-type: none;
  margin: 1rem;
}

.choose-enemy-btn {
  cursor: ;
  background-color: rgba(0, 0, 0, 0.2);
  border: 3px solid var(--color2);
  border-radius: 1rem;
  color: white;
  font-size: 1.4rem;
  font-family: inherit;
  padding: 1rem;
  width: 15rem;
  height: 15rem;
}

.choose-enemy-btn:hover {
  transform: scale(1.1);
}

.choose-enemy-btn:active {
  background-color: rgba(255, 255, 255, 0.2);
}

.choose-enemy-btn img {
  height: 100px;
  width: 100px;
  object-fit: contain;
}

.game-container {
  position: relative;
}

.time, .score {
  position: absolute;
  top: 2rem;
  font-size: 1.8rem;
}

.time {
  left: 2rem;
}

.score {
  right: 20px;
}

.message {
  background-color: rgb(0, 0, 0, 0.2);
  font-size: 2rem;
  line-height: 4rem;
  padding: 1rem 2rem;
  border: none;
  border-radius: 1rem;
  text-align: center;
  opacity: 0;
  z-index: 100;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, -150%);
  transition: transform 0.4s ease-in;
}

.message.visible {
  transform: translate(-50%, 150%);
  opacity: 1;
}

.enemy {
  cursor: crosshair;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 70px;
  height: 70px;
  position: absolute;
  transform: translate(-50%, -50%) scale(1);
  transition: transform 0.3s ease-in-out;
}

.enemy.caught {
  transform: translate(-50%, -50%) scale(0);
}

.enemy img {
  width: 70px;
  height: 70px;
}